.game-field {
    position: relative;
    width: 320px;
    height: 480px;
    margin: 0 auto;
    border: 1px solid gray;
}
#game-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}